body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background-color: black;

}

.button {
    transition-duration: 0.4s;
    background-color: darkslategray;
    border: none;
    color: #cc0000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    cursor: pointer;
}



.column {
    float: left;
    width: 20%;
    padding: 10px;
}
 *{
     box-sizing: border-box;
 }

 .h3{
     font-size: 16px;
 }

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #cc0000;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

div h3
{
    background-color: darkslategray;
}

div h1
{
    border-radius: 25px;
    border: 2px solid #cc0000;
    padding: 20px;

}